@import 'helpers/all';

* {
	/*outline: 1px dotted blue;*/
	box-sizing: border-box;
}
/*html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}*/
.main-headline {
	padding-left: 50px;
	font-size: 3rem;
	font-family: $headline;
}
.social-header {
	float: right;
	display: flex;
	flex-direciton: row;
}
.social-header-link {
	padding: 0px 10px 0px 10px;
	color: black;
}
.navbar {
	height: 100px;
	width: 100%;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.navlist {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 28px;
}
.nav-link-cont {
	height: 30px;
	width: 150px;
	text-align: center;
	border: 2px solid black;
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-right: 5px;
	margin-left: 5px;
}
.nav-link {
	padding-top: 5px;
	font-family: sans-serif;
	font-size: 1.3rem;
	color: black;
	text-decoration: none;
}

.foot {
	margin-top: 150px;
	margin-bottom: 75px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-link {
	/*margin: 0 auto;*/
	margin-right: 20px;
	margin-left: 5px;
	color: black;
}

/*    HOME CONTENT    */
.clarity-container {
	height: 300px;
	width: 100%;
	background: url("http://www.torange.us/photo/20/13/Clear-sky-1363594685_18.jpg");
	background-repeat: no-repeat;
	border-top: 2px solid hsl(185, 82%, 22%);
	border-bottom: 2px solid hsl(185, 82%, 22%);
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
}
.home-clarity {
	margin: 0 auto;
	height: 150px;
}
.home-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.home-sub-headline-cont {
	margin-top: 100px;
}
.home-sub-headline {
	margin-left: 135px;
	font-family: $headline;
}
.home-photo-block {
	float: left;
}
.home-text-block {
	width: 50%;
	float: right;
}
.home-main-text {
	margin: 100px 40px 0px 40px;
	font-size: 1.3rem;
	font-family: sans-serif;
	text-align: center;
	text-rendering: optimize-legibility;
	letter-spacing: 2px;
	line-height: 30px;
}
.home-link-headline {
	text-align: center;
	margin-top: 50px;
}
.home-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}
.home-video-link {
	margin-left: 10px;
	margin-right: 10px;
	color: black;
}
.logo-container {
	clear: both;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.logo {
	margin-left: 20px;
	margin-right: 20px;
}
.home-testemonials {
	text-align: center;
	display: flex;
	flex-direction: row;
}
.home-test-cont {
	padding: 10px 10px 10px 10px;
	font-size: 1rem;
}
.mission-container {
	margin: 0 auto;
}
.mission-headline {
	text-align: center;
	font-family: $headline;
}
.mission-statement {
	text-align: center;
	padding: 0px 50px 0px 50px;
}


/*   ABOUT CONTENT    */
.about-main-headline {
	margin-left: 100px;
	font-family: $headline;
}
.about-content {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-size: 1rem;
}
.testimonial-headline {
	margin-top: 100px;
	text-align: center;
	font-family: $headline;
}
.testimonials {
	text-align: center;
	display: flex;
	flex-direction: row;
}
.test-text {
	font-size: 1rem;
	margin: 0px 50px 50px 50px;
}

/*   WORK   PRESENTATIONS    */
.work-content {
	margin: 50px 200px 0px 100px;
}
.work-sub-headline {
	margin-left: 35px;
	text-decoration: underline;
	font-family: $headline;
}
.speaker-list {
	list-style-type: none;
}
.speaker-program-headline {
	font-weight: bold;
}
.speaker-programs-text {
	font-size: 1.3rem;
	line-height: 27px;
	letter-spacing: 1px;
	text-rendering: optimize-legibility;
	border-left: 2px solid black;
	padding-left: 15px;
}
.presentation-headline {
	text-decoration: underline;
	margin-top: 100px;
	margin-left: 40px;
	text-align: center;
	font-family: $headline;
}
.pres-list {
	list-style-type: none;
	text-align: center;
	line-height: 25px;
}
.pres-list-item {
	font-size: 1.2rem;
}

/*    CONTACT    */
.contact-main-headline {
	text-align: center;
	font-family: $headline;
}
.contact-sub-headline {
	margin-left: 100px;
	text-align: center;
}
.contact-form {
	margin-left: 100px;
}