<div class="about-container">
  <h1 class="about-main-headline">About…</h1>

  <div class="about-content">
    <p>
    	Kimberly Giles is a sought after executive coach  and entertaining speaker. Her down to earth style, life changing insights and great sense of humor make her a popular choice for community, business and other events. Kim is  professional member of the Nation Speakers Association. She appeares regularly on national and local TV and radio. She was named one of the top 20 advice gurus in the country by Good Morning America in 2010 and has had over 300 articles published in magazines and newspapers. She writes a weekly column published on KSL.COM - She is the author of the new book Choosing Clarity: The Path to Fearlessness.  She is also the President and Founder of Claritypoint Coaching and the Claritypoint Coaching Academy.
    </p>
  </div>

  <div class="about-photo-cont">
    <img class="about-photo" src=".././images/NewHuman.jpg"/>
  </div>

<h1 class="testimonial-headline">Testimonials</h1>

  <div class="testimonials">
    <div class="test-text">
      <p>
      "It is a distinct pleasure to recommend Kimberly Giles as a Speaker orTrainer. She recently gave a presentation at Emery County's Benefits Conference. With her zest for life along with her passion to help others our employees where thoroughly entertained as they learned more about themselves and how to better communicate with employees while increasing love and eliminating fear. I, without any reservation, highly recommend Kimberly Giles. She is a tremendous Life Coach with the knowledge and skills to back her up."
      </p>
      <p>
      Mary Huntington <br>
      Personnel Director Emery County
      </p>
    </div>
    <div class="test-text">
      <p>
        "It was a wonderful presentation that increased my understanding of why I and others behave the way we do. I appreciated that the skills and message were practical and simple because it meant I could put it into practice at that moment (which I ended up needing to do that evening with something I was discussing with my husband).  I feel so much more capable to handle work issues. I really needed this information. Thank you so very much for taking the time to share this information with us!"
      </p>
      <p>
        Kristin Lemon <br>
        Ut County Government
      </p>
    </div>
  </div>

</div>