<div class="clarity-container">
    <img class="home-clarity" src=".././images/CPCA-Dark blue Program-01.png"/>
</div>

<div class="home-sub-headline-cont">
  <h2 class="home-sub-headline">The People Skills Expert</h2>
</div>

<div class="home-container">

  <div class="home-photo-block">
    <img src=".././images/Photo4Book.jpg"/>
  </div>

  <div class="home-text-block">
      <p class="home-main-text">
  	    "Kim Giles will help you and your team understand human behavior, improve people skills and eliminate office drama. Her entertaining and hilarious programs will help your people build teams that aren't threatened by each other, creating collaboration, cooperation and healthy competition."
      </p>
      <div class="home-link-headline">
        <h3>Click Links to watch Kim!</h3>
        <ul class="home-links">
          <li> <a class="home-video-link" target="_blank" href="https://www.dropbox.com/s/38b7locor7jv3qp/Kimberly%20Giles%20speaking%20video.m4v?dl=0"><i class="fa fa-thumbs-up fa-2x"></i></a> </li>
          <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=5eOMSyIyYkc&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
          <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=grpLKR7f9NM&feature=youtu.be"><i class="fa fa-heart-o fa-2x"></i></a> </li>
        </ul>
      </div>
  </div>
</div>

<div class="logo-container">
        <img class="logo" src=".././images/GMA.jpg">
        <img class="logo" src=".././images/byuradio.png">
        <img class="logo" src=".././images/kslpic.png">
        <img class="logo" src=".././images/Lifetime.jpg">
        <img class="logo" src=".././images/abc4.jpg">
        <img class="logo" src=".././images/deseret news.jpg">
</div>

<div class="home-testemonials">
    <div class="home-test-cont">
      <p>
        "Kim has created a program that has literally made me see with clarity life and how it works. In every situation I have a choice to make. I can react with fear or love. I now look at all people as equal to me. I now accept mistakes as learning experiences and do not wallow in self-pity.  This program has literally changed my life."
      </p>
      <p>-Jeff Turley</p>
    </div>

    <div class="home-test-cont">
      <p>
      "Working with Kim Giles  made an amazing difference.  I knew there were things that weren’t working in my life, but I wasn’t able to understand why.  This program gave me the tools to see what  I needed to change and do it."
      </p>
      <p>B Gonder</p>
    </div>

    <div class="home-test-cont">
      <p>
      "I would recommend Coaching with Claritypoint to everyone, it is truly inspired.  I believe many people live in fear and guilt, never feeling good about who they are, for that is where I was, yet they taught me to see my value, recognize my talents, see others with compassion. I’ve learned more in Coaching this past year than I’ve probably learned in my lifetime.  It isn’t easy, but it is definitely worth it!"
      </p>
      <p>J Griffin</p>
    </div>
</div>

<div class="mission-container">
    <h2 class="mission-headline">Mission:</h2>
    <p class="mission-statement">
      To help individuals and organizations eliminate fear and gain clarity, the ability to see themselves, others and situations accurately.  
 
The Claritypoint Coaching process is a time-tested, proven system designed to remove the fear that currently clouds your vision. We want to help you see yourself, other people and situations more accurately so you can make better choices and experience more happiness and success.
 
Our program is based on principles of truth which change the fundamental way you see yourself and your life. Making these changes creates better self-esteem, more productivity and better relationships. This program will give you everything you need to live without fear and become your highest best self. 
 
We strive to lessen the suffering of mankind by helping you eliminate the power of fear and consciously choose clarity.
    </p>
</div>

<!-- <div class="home-link-headline">
  <h3>Click Links to see videos of Kim speaking</h3>
    <ul class="home-links">
      <li> <a class="home-video-link" target="_blank" href="https://www.dropbox.com/s/38b7locor7jv3qp/Kimberly%20Giles%20speaking%20video.m4v?dl=0"><i class="fa fa-video-camera fa-2x"></i></a> </li>
      <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=5eOMSyIyYkc&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
      <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=grpLKR7f9NM&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
    </ul>
</div> -->