<div class="clarity-container">
    <img class="home-clarity" src=".././images/CPCA-Dark blue Program-01.png"/>
</div>

<div class="home-sub-headline-cont">
  <h2 class="home-sub-headline">The People Skills Expert</h2>
</div>

<div class="home-container">

  <div class="home-photo-block">
    <img src=".././images/Photo4Book.jpg"/>
  </div>

  <div class="home-text-block">
      <p class="home-main-text">
  	    "Kim Giles will help you and your team understand human behavior, improve people skills and eliminate office drama. Her entertaining and hilarious programs will help your people build teams that aren't threatened by each other, creating collaboration, cooperation and healthy competition."
      </p>
      <div class="home-link-headline">
        <h3>Click Links to watch Kim!</h3>
        <ul class="home-links">
          <li> <a class="home-video-link" target="_blank" href="https://www.dropbox.com/s/38b7locor7jv3qp/Kimberly%20Giles%20speaking%20video.m4v?dl=0"><i class="fa fa-thumbs-up fa-2x"></i></a> </li>
          <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=5eOMSyIyYkc&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
          <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=grpLKR7f9NM&feature=youtu.be"><i class="fa fa-heart-o fa-2x"></i></a> </li>
        </ul>
      </div>
  </div>
</div>

<div class="logo-container">
        <img class="logo" src=".././images/GMA.jpg">
        <img class="logo" src=".././images/byuradio.png">
        <img class="logo" src=".././images/kslpic.png">
        <img class="logo" src=".././images/Lifetime.jpg">
        <img class="logo" src=".././images/abc4.jpg">
        <img class="logo" src=".././images/deseret news.jpg">
</div>

<div class="home-testemonials">
    <div class="home-test-cont">
      <p>

      </p>
    </div>
</div>



<!-- <div class="home-link-headline">
  <h3>Click Links to see videos of Kim speaking</h3>
    <ul class="home-links">
      <li> <a class="home-video-link" target="_blank" href="https://www.dropbox.com/s/38b7locor7jv3qp/Kimberly%20Giles%20speaking%20video.m4v?dl=0"><i class="fa fa-video-camera fa-2x"></i></a> </li>
      <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=5eOMSyIyYkc&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
      <li> <a class="home-video-link" target="_blank" href="https://www.youtube.com/watch?v=grpLKR7f9NM&feature=youtu.be"><i class="fa fa-video-camera fa-2x"></i></a> </li>
    </ul>
</div> -->