<div class="work-container">
  <div class="work-content">
    <h2 class="work-sub-headline">Speaker Programs</h2>
    <ul class="speaker-list">
      <li>
      	<h3 class="speaker-program-headline">Human Behavior 101</h3>
      	<p class="speaker-programs-text">Coach Kim teaches a hilarious version of Human Behavior and entertains participants while teaching them how to understand people and behave better themselves. Get ready to laugh and learn.</p>
      </li>
      <li>
      	<h3 class="speaker-program-headline">Policies and Procedures for a better life</h3>
      	<p class="speaker-programs-text">It is time to re-write your personal policies to create the life you really want. Coach Kim entertains participants while helping them change the way they experience life by changing their official policies.</p>
      </li>
      <li>
      	<h3 class="speaker-program-headline">Fear Factor Live</h3>
      	<p class="speaker-programs-text">Coach Kim facilitates an exciting on-stage version of the popular TV show with scary and disgusting stunts that help participants get past their fears. You have to see this to believe it.</p>
      </li>
      <li>
      	<h3 class="speaker-program-headline">Dealing with Difficult People</h3>
      	<p class="speaker-programs-text">Coach Kim entertains participants with a humorous and unique take on getting along with other people. You will learn things about human nature that will change you forever.</p>
      </li>
      <li>
      	<h3 class="speaker-program-headline">Self Esteem Workshop</h3>
      	<p class="speaker-programs-text">You will leave this event feeling different about yourself. Coach Kim makes participants see themselves accurately for the first time and leaves them laughing too. This is a life changing event.</p>
      </li>
      <li>
      	<h3 class="speaker-program-headline">You are Amazing</h3>
      	<p class="speaker-program-headline">(program for youth)</p>
      	<p class="speaker-programs-text">You are a superhero. You just didn't know it. This program inspires young people to be a force for good in the world and gain amazing self-esteem.</p>
      </li>
    </ul>


    <h2 class="presentation-headline">Recent Presentations: </h2>
    <ul class="pres-list">
      <li class="pres-list-item">Good Morning America</li>
      <li class="pres-list-item">Good Morning Utah</li>
      <li class="pres-list-item">Good Things Utah</li>
      <li class="pres-list-item">The Daily Dish</li>
      <li class="pres-list-item">KSL TV</li>
      <li class="pres-list-item">ABC4 News</li>
      <li class="pres-list-item">The Doug Wright Show </li>
      <li class="pres-list-item">Matt Townsend Show</li>
      <li class="pres-list-item">BYU Radio</li>
      <li class="pres-list-item">The Browser </li>
      <li class="pres-list-item">Exfuze Regional Trainings</li>
      <li class="pres-list-item">Utah Association of Counties Conference 2013</li>
      <li class="pres-list-item">School Nutrition Association Utah 2013</li>
      <li class="pres-list-item">Jordan School District - Manager Training 2013</li>
      <li class="pres-list-item">Ogden School District Nutrition Services Dept. 2013</li>
      <li class="pres-list-item">Grand County/Moab Employee Training 2013</li>
      <li class="pres-list-item">Grand County Housing Authority 2013</li>
      <li class="pres-list-item">Children's Miracle Network Retreat 2013</li>
      <li class="pres-list-item">Association of Government Accountants 2013</li>
      <li class="pres-list-item">UGFOA Conference - Government Accountants 2013</li>
      <li class="pres-list-item">IPMA (Public Managers) Conference 2013</li>
      <li class="pres-list-item">Emery County Benefits Conference 2014</li>
      <li class="pres-list-item">2nd District Court Retreat 2014</li>
      <li class="pres-list-item">Salt lake Juvenile Detention Center 2014</li>
      <li class="pres-list-item">WIC Utah County Health Department 2014</li>
      <li class="pres-list-item">Jordan School Managers 2014</li>
      <li class="pres-list-item">Redfish Lodge Employee Training 2014</li>
      <li class="pres-list-item">Snow College Convecation Speaker 2014</li>
      <li class="pres-list-item">Children's Miracle Network Hospital Relations Training in Chicago 2014</li>
      <li class="pres-list-item">EMI Heath Insurance Corp. Retreat  2014</li>
      <li class="pres-list-item">Hills Brothers Chemical Company</li>
      <li class="pres-list-item">UGAA - Utah Government Accountants 2014 Conf.</li>
      <li class="pres-list-item">Provo School District</li>
      <li class="pres-list-item">Lifetime Products - Corporate Training Feb. 2015</li>
    </ul>
  </div>
</div>