<div class="work-container">
  <div class="work-content">
    <h3 class="work-sub-headline">Speaker Programs</h3>
    <ul>
      <li>
      	<h5>Human Behavior 101</h5>
      	<p>Coach Kim teaches a hilarious version of Human Behavior and entertains participants while teaching them how to understand people and behave better themselves. Get ready to laugh and learn.</p>
      </li>
      <li>
      	<h5>Policies and Procedures for a better life</h5>
      	<p>It is time to re-write your personal policies to create the life you really want. Coach Kim entertains participants while helping them change the way they experience life by changing their official policies.</p>
      </li>
      <li>
      	<h5>Fear Factor Live</h5>
      	<p>Coach Kim facilitates an exciting on-stage version of the popular TV show with scary and disgusting stunts that help participants get past their fears. You have to see this to believe it.</p>
      </li>
      <li>
      	<h5>Dealing with Difficult People</h5>
      	<p>Coach Kim entertains participants with a humorous and unique take on getting along with other people. You will learn things about human nature that will change you forever.</p>
      </li>
      <li>
      	<h5>Self Esteem Workshop</h5>
      	<p>You will leave this event feeling different about yourself. Coach Kim makes participants see themselves accurately for the first time and leaves them laughing too. This is a life changing event.</p>
      </li>
      <li>
      	<h5>You are Amazing</h5>
      	<p>(program for youth)</p>
      	<p>You are a superhero. You just didn't know it. This program inspires young people to be a force for good in the world and gain amazing self-esteem.</p>
      </li>
    </ul>


    <h3>Recent Presentations</h3>
    <ul>
      <li>Good Morning America</li>
      <li>Good Morning Utah</li>
      <li>Good Things Utah</li>
      <li>The Daily Dish</li>
      <li>KSL TV</li>
      <li>ABC4 News</li>
      <li>The Doug Wright Show </li>
      <li>Matt Townsend Show</li>
      <li>BYU Radio</li>
      <li>The Browser </li>
      <li>Exfuze Regional Trainings</li>
      <li>Utah Association of Counties Conference 2013</li>
      <li>School Nutrition Association Utah 2013</li>
      <li>Jordan School District - Manager Training 2013</li>
      <li>Ogden School District Nutrition Services Dept. 2013</li>
      <li>Grand County/Moab Employee Training 2013</li>
      <li>Grand County Housing Authority 2013</li>
      <li>Children's Miracle Network Retreat 2013</li>
      <li>Association of Government Accountants 2013</li>
      <li>UGFOA Conference - Government Accountants 2013</li>
      <li>IPMA (Public Managers) Conference 2013</li>
      <li>Emery County Benefits Conference 2014</li>
      <li>2nd District Court Retreat 2014</li>
      <li>Salt lake Juvenile Detention Center 2014</li>
      <li>WIC Utah County Health Department 2014</li>
      <li>Jordan School Managers 2014</li>
      <li>Redfish Lodge Employee Training 2014</li>
      <li>Snow College Convecation Speaker 2014</li>
      <li>Children's Miracle Network Hospital Relations Training in Chicago 2014</li>
      <li>EMI Heath Insurance Corp. Retreat  2014</li>
      <li>Hills Brothers Chemical Company</li>
      <li>UGAA - Utah Government Accountants 2014 Conf.</li>
      <li>Provo School District</li>
      <li>Lifetime Products - Corporate Training Feb. 2015</li>
    </ul>
  </div>
</div>